@import "src/scss/vars";
@import "src/scss/mixins";

.btn-list{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn__log {
    border-radius: 8px;
    border: 1px solid #FF5C60;    
    padding: 12px 16px;
    outline: 0;
    background: transparent;
    @include text ($ff, 700, 14px, 22px, #FF5C60);
    margin-right: auto;
    cursor: pointer;
}
.btn__discard {
    border-radius: 8px;
    border: 1px solid #83859C;    
    padding: 12px 16px;
    outline: 0;
    background: transparent;
    @include text ($ff, 700, 14px, 22px, #83859C);
    margin-left: auto;
    margin-right: 16px;
    cursor: pointer;
}
.btn__save {
    border-radius: 8px;
    border: 0;
    box-shadow: 0px 8px 20px rgba(78, 96, 255, 0.16);
    padding: 12px 16px;
    outline: 0;
    background: $bgcounter;
    @include text ($ff, 700, 14px, 22px, $white);
    cursor: pointer;
}
   
   
