*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

nav ul li{
  list-style:none;
  list-style-type: none;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {  
  margin: 0 auto;
  max-width: 1440px;  
  min-height: 100vh;
}

.container {
  max-width: 11150px;
  padding: 0 20px;
  margin: 0 auto;
}
