//Fonts:
$ff: 'Nunito', sans-serif;
$ff-r: 'Roboto', sans-serif;

//Colors:
$white: #ffffff;
$black: #000;
$bg: #202020;
$text: #2B2B43;
$text-grey: #83859C;
$bginput: #edeef2;
$bgbusket: #F3F4FF;
$bgcounter: #4e60ff;

//Transition:
$transition: all .3s ease-in-out;

//Breakpoints:
$desctop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;