@import "src/scss/vars";
@import "src/scss/mixins";

.category {
  &__inner {
    display: grid;
    grid-template-columns: repeat(1fr, 6);
    gap: 30px;
    margin-bottom: 40px;
  }

  &__card {
    background: #f8f9ff;
    /* primary / hover */

    border: 1px solid #697bff;
    border-radius: 16px;
  }

  &__img {
  }

  &__title {
  }
}
